.container{
	width:100%;
	min-height:100%;
	overflow:hidden;
	text-align:center;
	
	
}
#mob{
		width: 100px;
}
body {
		font-family:'Roboto Slab', verdana, sans-sarif;
	    background-color: #c0deed;
		
}
h2{
	display: inline-block;
}
logo img{
	width:100px;
	height:50px;
	padding:5px;
	margin:auto;
}
.menu1{
	position:absolute;
	right: 0;
	width:100%;
	height:90%;
	display: block; 
    z-index:10;	
	left:0;
	overflow:hidden;
	top:55px;
	background: #191919;
}
.list{
	width:100%;
	height:100%;
	display: block; 
}
.location{
	display:inline-block;
	margin-left:10px;
	color:#ffae19;
	font-size:12pt;
	
}

.home{
	display:inline-block;
	margin-left:10px;
	width:30px;
	height:30px;
	background-image:url("../img/arrow.png");
  background-size: 30px 30px;
	background-repeat:no repeat;
}
.menu2{
    position:absolute;
	width:100%;
	display: block; 
	left:0;
	top:55px;
    z-index:0;	
}
.main{
   min-height:100%;
   overflow:hidden;
   padding-top:5px;
   padding-left:2px;
   padding-right:2px;
   padding-bottom:10px;
}
.list ul {
	width:100%;
	padding:1px;	
    padding-bottom: 1px;
    margin: 0;
	display:inline-block;
	list-style:none;
	float:left;
	
}

.list ul li {
	height: 30px;
	text-align:center;
	color:#fff;
	background: #333333;
	border-top: solid 2px #4c4c4c;
	line-height: 25px;
	transition: background-color 1s, color 1s;
}

.list ul li a{
    color: inherit;
	text-decoration:none;

}
.list ul li:hover{
	color:black;
	background:#0099B7;

}
.black{
	background: #323232;
}

.query{
	left:0;
	margin:0;
	padding:0;
	width:100%;
	height:50px;
	text-align:center;
  	box-shadow: 2px 3px 5px #000;
}
.query ul {
	margin:auto;
	padding:0;
  width:100%;
	padding-top:10px;
	display:block;
	float:left;
	  
}


.query ul li{
   padding-top:0.5%;
   display:inline-block;
   float:left;
   margin-left:5px;
   width:30%;
   }

.result{
	background-color: white;
	padding-top:0.5%; 
	padding-bottom:0.5%; 
	display:block; 
  width:100%;
	
}
.result ul {
	width:97%;
	padding:0;	
	margin: auto;
	list-style:none;
}
.result ul li {
	margin-top:3px;
	width:97%;
	background-color:#fff; 
	color:black;
	border-radius: 4px;
	list-style:none;
	line-height: 27px;
	box-shadow: 2px 2px 5px #000;
}
.hours{
	width:36%;
	border-radius: 4px 0px 0px 4px;
	font-size:10pt;
	float:left;
	height:100%;
	background-color: #7fffe8;
	border-right:solid 1px #1B252D; 
}
.room{
	width:60%;
	color:black;
	font-size:10pt;
  display:inline-block;
}
.block{
	width:100%;
	height:100%;
    min-height:100%;
	overflow:hidden;
	padding: 2px
}
.text2{
	display:block;
}
footer{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding-bottom:5px;
	padding-top: 10px;
	color:#fff;
	font-size:8pt;
	background-color: #333333;
	border-top: solid 2px #664200;  
	z-index:1;
}

.style-select select{
	border: 0 !important;  
	-webkit-appearance: none;  
	-moz-appearance: none; 
	width: 100px; 
	text-indent: 0.01px; 
	text-overflow:""; 
	color: #0099B7;
	padding: 5px;
	background-color:#323232;
	box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
}
.copy{
	padding:5px;
	
}
.toz{
	position:absolute;
	width:100%;
	top:0;
	left:0;
}

.digo{
	position:fixed;
	color:#fff;
	background-color: #333333;
	min-height:55px;
	height:55px;
	border-bottom: solid 2px #664200;  
	padding-bottom:10px ;
	width:100%;
	padding-left:3px;
	overflow:hidden;
  z-index:1;
}